body {
  width: 320px;
  height: 580px;
  text-align: center;
  overflow: hidden;
  margin: 0 0;
}

input[type=text], input[type=password] {
    width: 270px;
    height: 50px;
    padding: 10px 10px;
    margin: 10px 0;
    font-size: 1.3em; 
    display: inline-block;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    box-sizing: border-box;
    background-color : #f9f9f9;
    outline: none;
}

input:focus {
    outline: none !important;
    border:1px solid #46c6f5;
    /*box-shadow: 0 0 10px #719ECE;*/
}

button {
    width: 270px;
    height: 50px;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 14px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}

button.register-btn {
    background-color: #46c6f5;
    color: white;
    border: none;
}

button:hover {
    opacity: 0.8;
}

.imgcontainer {
    text-align: center;
    margin: 0;
}

img {
    width: 100%;
}

img.or {
    margin: 15px 0 5px 0;
}

a {
    text-decoration: none !important;
    color: #46c6f5;
    font-size: 14px;
}

a:hover {
  opacity: 0.8;
}

.link-text {
  margin: 20px 0;
  font-size: 14px;
  color: #858c93;
}

#back-login {
    position: absolute;
    right: 25px;
    top: 15px;
}

::-webkit-input-placeholder {
  color: #cdcdcd;
  font-size: 14px;
}
